@charset "UTF-8";
/* CSS Document */

.hidden
{
    display: none;
}

body p{
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
    text-align: center;
}


@font-face{
    font-family:heading;
    src:url(../fonts/ObelixProBIt-cyr.ttf);
}

@font-face{
    font-family:pecita;
    src:url(../fonts/Pecita-webfont.ttf);
}

@font-face{
    font-family:oliver;
    src:url(../fonts/oliver\ quin\ dafont.ttf);
}

@font-face{
    font-family:studio;
    src:url(../fonts/Studio-Gothic-Alternate-ExtraLight-trial.ttf)
}

@font-face{
    font-family:retro;
    src:url(../fonts/Super\ Retro\ M54.ttf);
}

@font-face{
    font-family:rio;
    src:url(../fonts/BILLY\ ARGEL\ RIO\ GLAMOUR\ PERSONAL\ USE.otf);
}

#main-menu{
    position:-webkit-sticky;
    position:sticky;
    font-family: pecita;
    font-size: 20pt;
    margin-top: 40px;
}
#menu li a{
    transition:0.8s ease-in-out;
    color:#3d3d3b;
    font-weight:bold;
}
#menu li a:hover{
    color: #666666;
    transition:0.8s ease-in-out;
}

#text_banner{
    position: absolute;
    top: 50%;
    left: 10%;    
}

#text_banner p{
    font-family: heading;
    font-size: 25pt;
    padding-top:10px;
}

#click-me {
    padding-top: 5px;
    font-family: pecita;
    display: block;
    width: 150px;
    height: 45px;
    color: #000;
    text-decoration: none;
    margin-top: 10px;
    transition: all .5s ease-in-out;
    border-radius: 20px;
    background-color: #bec9ae;
    float: right;
    font-size: 15pt;
    text-align: center;
    position: absolute;
    top: 80%;
    left: 45%;
}  

#click-me:hover{
    background-color: #d1dcc0;
}


/*About*/

#about{
    background-color: #f7f2ed;
    
}

#heading-about{
    margin-top:40px;
    margin-bottom: 40px;
}

#text-about p{
    text-align: justify;
    margin-top: 50px;
    margin-bottom: 50px;
}

#interests p{
    text-align: center;
}

/*Project*/
#project{
    background-color: #f7f2ed;
    padding-top: 150px;
}

#header-project{
    margin-bottom: 70px;
}

#project-button{
    padding-top: 40px;
    padding-bottom: 40px;
}

#brand-button {
    padding: 5px;
    font-family: pecita;
    display: block;
    height: 55px;
    color: #000;
    text-decoration: none;
    margin-top: 10px;
    transition: all .5s ease-in-out;
    background-color: #f7ce87;
    float: right;
    font-size: 25pt;
    text-align: center;
    float: left;
    /* margin-right: 65px; */
}

#brand-button:hover{
    background-color: #fbe9c9;
}


#web-button {
    padding: 5px;
    font-family: pecita;
    display: block;
    /* width: 200px; */
    height: 55px;
    color: #000;
    text-decoration: none;
    margin-top: 10px;
    transition: all .5s ease-in-out;
    background-color: #97cbd6;
    float: right;
    font-size: 25pt;
    text-align: center;
    float: left;
    /* margin-right: 65px; */
}

#web-button:hover{
    background-color: #bde1e5;
}

#photo-button {
    padding: 5px;
    font-family: pecita;
    display: block;
    /* width: 200px; */
    height: 55px;
    color: #000;
    text-decoration: none;
    margin-top: 10px;
    transition: all .5s ease-in-out;
    background-color: #f6a482;
    float: right;
    font-size: 22pt;
    text-align: center;
    float: left;
    /* margin-right: 65px; */
}

#photo-button:hover{
    background-color: #f7c3b0;
}

#video-button {
    padding: 5px;
    font-family: pecita;
    display: block;
    /* width: 200px; */
    height: 55px;
    color: #000;
    text-decoration: none;
    margin-top: 10px;
    transition: all .5s ease-in-out;
    background-color: #77a9c1;
    float: right;
    font-size: 25pt;
    text-align: center;
    float: right;
}

#video-button:hover{
    background-color: #a6c5d1;
}

.brand-thumb{
    transition: all .5s ease-in-out;
}

.brand-thumb:hover{
    opacity: 0.6;
    filter: alpha(Opacity=100);
}

  /*Branding*/
#branding{
    background-color: #f7f2ed;
    display: none;
}

    /*Website Project*/
#website{
    padding-top: 100px;
    background-color: #f7f2ed;
    display: none;
}

#heading-website{
    margin-bottom: 40px;
}

#website img{
    margin-bottom: 30px;
}

    /* Photo Project */
#photo{
    background-color: #f7f2ed;
    display: none;
}

#heading-photo{
    margin-bottom: 40px;
}

   /* Video Project */
#video-project{
    background-color: #f7f2ed;
    display: none;
    padding-top: 100px;
}

#heading-video{
    margin-bottom: 40px;
}

#videoPerfume{
    padding-bottom:50px;
}


/* Contact Page*/

#contact{
    background-color: #f7f2ed;
    
}

#heading-contact{
    margin-top:40px;
    margin-bottom: 40px;
}

.title {
    font-family: rio;
    font-size: 20pt;
    
}

#nameBox{
    font-family: Arial;
    background-color: #f7ce87;
}

#addressBox{
    font-family: Arial;
    background-color: #97cbd6;
}

#phoneBox{
    font-family: Arial;
    background-color: #f6a482;
}

#emailBox{
    color: #fff;
    font-family: Arial;
    background-color: #77a9c1;
}

#messBox{
    font-family: Arial;
    background-color: #f7ce87;
}

#buttonContact{
    width: 100px;
    height: 30px;
    border-radius: 3px;
    padding: 5px;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #000;
    text-decoration: none;
    transition: all .5s ease-in-out;
    background-color: #f6a482;
}

#buttonContact:hover{
    background-color: #f7c3b0;
}

/*Ha Vo Page*/


#heading-havo 
{
    margin-top: 40px;
}

#discription p {
    margin-top: 30px;
    text-align: justify;
}

#color-typo{
    margin-top: 30px; 
    margin-right: 60px;
}

#color img{
    padding-bottom: 30px;
    padding-top: 40px; ;
    margin-right: 20px;
}

#typo p{
    font-family: oliver;
    font-size: 40pt;
}

/* Genki Page */

#text-brand-genki p{
    text-align: justify;
}

.heading-genki p{
    font-family: studio;
    font-size: 40pt;
    text-align: left;
}

.heading-genki {
    margin-top: 15%;
}

#text-typo-genki p{
    font-family: studio;
    font-size: 40pt;
}

.typo-genki-name{
    font-weight: bold;
}

#videoGenki {
    padding-top: 50px;
}

/* Sport Page */

.heading-sport p{
    font-family: retro;
    font-size: 20pt;
    text-align: left;
}

.heading-sport {
    margin-top: 15%;
    margin-bottom: 10%;
}

#text-typo-sport p{
    font-family: retro;
    font-size: 40pt;
}

/* Roku Website */
#text-roku p{
    text-align: justify;
}

#roku-desktop{
    margin-top: 50px;
    margin-bottom: 10%;
}

