@charset "UTF-8";
/* CSS Document */

.hidden
{
    display: none;
}

body p{
    
    font-family: body;
    font-size: 15pt;
    text-align: center;
}

@font-face{
    font-family:body;
    src:url(../fonts/GeosansLight.ttf);
}

@font-face{
    font-family:heading;
    src:url(../fonts/ObelixProBIt-cyr.ttf);
}

@font-face{
    font-family:pecita;
    src:url(../fonts/Pecita-webfont.ttf);
}

@font-face{
    font-family:oliver;
    src:url(../fonts/oliver\ quin\ dafont.ttf);
}

@font-face{
    font-family:studio;
    src:url(../fonts/Studio-Gothic-Alternate-ExtraLight-trial.ttf)
}

@font-face{
    font-family:retro;
    src:url(../fonts/Super\ Retro\ M54.ttf);
}

@font-face{
    font-family:rio;
    src:url(../fonts/BILLY\ ARGEL\ RIO\ GLAMOUR\ PERSONAL\ USE.otf);
}

/* Navigation */

  header {
    margin: 0;
    width: 100%;
    background-color: #c4e0f0;
    position: fixed;
    height: 60px!important;
    z-index: 20;
  }
  nav {
      height: 100%;
      position: fixed;
      left: 0;
      width: 280px;
      margin-top: 60px;
      transform: translateX(-280px);
      transition: transform 250ms ease-in-out;
      background-color:#97cad6;
  }
  nav ul {
      margin:0;
      padding:0;
      border-top: 1px solid rgba(255, 255, 255, 0.10);
  }
  nav ul>li {
      list-style: none;
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
      padding: 20px;
      cursor: pointer;
      border-bottom: 1px solid rgba(255, 255, 255, 0.10);
       transition: .25s;
  }
  nav ul>li span {
      display: block;
      font-size: 14px;
      color: rgba(255, 255, 255, 0.50);
  }
  nav ul>li a {
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
      cursor: pointer;
      text-decoration: none;
  }
  nav ul>li:hover {
    background-color: #f4cd87;
  }
  input[type="checkbox"]:checked ~ nav {
      transform: translateX(0);
  }
  input[type=checkbox] {
      transition: all 0.3s;
      box-sizing: border-box;
      display: none;
  }
  .menuIconToggle {
      transition: all 0.3s;
      box-sizing: border-box;
      cursor: pointer;
      position: fixed;
      z-index: 99;
      height: 100%;
      width: 100%;
      top: 22px;
      left: 15px;
      height: 22px;
      width: 22px;
  }
  .hamb-line {
      transition: all 0.3s;
      box-sizing: border-box;
      position: absolute;
      height: 3px;
      width: 100%;
      background-color: #fff;
  }
  .hor {
      transition: all 0.3s;
      box-sizing: border-box;
      position: relative;
      float: left;
      margin-top: 3px;
  }
  .dia.p-1 {
      position: relative;
      transition: all 0.3s;
      box-sizing: border-box;
      float: left;
  }
  .dia.p-2 {
      transition: all 0.3s;
      box-sizing: border-box;
      position: relative;
      float: left;
      margin-top: 3px;
  }
  input[type=checkbox]:checked ~ .menuIconToggle > .hor {
      transition: all 0.3s;
      box-sizing: border-box;
      opacity: 0;
  }
  input[type=checkbox]:checked ~ .menuIconToggle > .dia.p-1 {
      transition: all 0.3s;
      box-sizing: border-box;
      transform: rotate(135deg);
      margin-top: 8px;
  }
  input[type=checkbox]:checked ~ .menuIconToggle > .dia.p-2 {
      transition: all 0.3s;
      box-sizing: border-box;
      transform: rotate(-135deg);
      margin-top: -9px;
  }

#banner{
    margin-top:50px;
}

#buttonClickme{
    background-color: #f7f2ed;
}

#click-me {
    padding-top: 5px;
    font-family: pecita;
    display: block;
    width: 150px;
    height: 45px;
    color: #000;
    text-decoration: none;
    margin-top: 10px;
    transition: all .5s ease-in-out;
    border-radius: 20px;
    background-color: #bec9ae;
    font-size: 15pt;
    text-align: center;
}  

#click-me:hover{
    background-color: #d1dcc0;
}


/*About*/

#about{
    background-color: #f7f2ed;
    
}

#heading-about{
    margin-top:40px;
    margin-bottom: 40px;
}

#text-about p{
    text-align: justify;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 15pt;
}

#heading-interest{
    margin-bottom:70px;
}


#videoReel{
    margin-top: 30%;
}

#dog{
    display: block; 
    margin-left: auto;
    margin-right: auto;
    width:50%;
    height: auto;
}

#camera{
    display: block; 
    margin-left: auto;
    margin-right: auto;
    width:50%;
    height: auto;
}


#travel{
    display: block; 
    margin-left: auto;
    margin-right: auto;
    width:50%;
    height: auto;
}

#interests{
    margin-top:10%;
}

#heading-edu{
    margin-bottom: 70px;
    
}

#iconProcess{
    margin-top: 20%;
}

#process{
    margin-top: 50px;
}

.headerProcess {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    color: #5b4203;
}

.school p{
    font-size: 10pt;
    color: #5b4203;
}

#iconProcess p{
    font-size: 11pt;
}

#time{
    display: block; 
    margin-left: auto;
    margin-right: auto;
    width:100%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

#hat{
    display: block; 
    margin-left: auto;
    margin-right: auto;
    width:30%;
    height: auto;
    float: left;
}

#reward{
    display: block; 
    margin-left: auto;
    margin-right: auto;
    width:30%;
    height: auto;
    float: left;
}

#book{
    display: block; 
    margin-left: auto;
    margin-right: auto;
    width:30%;
    height: auto;
    float: left;
}

#computer{
    display: block; 
    margin-left: auto;
    margin-right: auto;
    width:30%;
    height: auto;
    float: left;
}

#freelance{
    margin-top:30px;
}

@media (max-width: 600px) {
    #time{
        display: hidden;
    }
}    

/*Project*/
#project{
    background-color: #f7f2ed;
    padding-top: 150px;
}

#header-project{
    margin-bottom: 70px;
}

#project-button{
    padding-top: 40px;
    padding-bottom: 40px;
}

#brand-button {
    padding: 5px;
    font-family: pecita;
    display: block;
    height: 55px;
    color: #000;
    text-decoration: none;
    margin-top: 10px;
    transition: all .5s ease-in-out;
    background-color: #f7ce87;
    float: right;
    font-size: 25pt;
    text-align: center;
    float: left;
    /* margin-right: 65px; */
}

#brand-button:hover{
    background-color: #fbe9c9;
}


#web-button {
    padding: 5px;
    font-family: pecita;
    display: block;
    /* width: 200px; */
    height: 55px;
    color: #000;
    text-decoration: none;
    margin-top: 10px;
    transition: all .5s ease-in-out;
    background-color: #97cbd6;
    float: right;
    font-size: 25pt;
    text-align: center;
    float: left;
    /* margin-right: 65px; */
}

#web-button:hover{
    background-color: #bde1e5;
}

#photo-button {
    padding: 5px;
    font-family: pecita;
    display: block;
    /* width: 200px; */
    height: 55px;
    color: #000;
    text-decoration: none;
    margin-top: 10px;
    transition: all .5s ease-in-out;
    background-color: #f6a482;
    float: right;
    font-size: 22pt;
    text-align: center;
    float: left;
    /* margin-right: 65px; */
}

#photo-button:hover{
    background-color: #f7c3b0;
}

#video-button {
    padding: 5px;
    font-family: pecita;
    display: block;
    /* width: 200px; */
    height: 55px;
    color: #000;
    text-decoration: none;
    margin-top: 10px;
    transition: all .5s ease-in-out;
    background-color: #77a9c1;
    float: right;
    font-size: 25pt;
    text-align: center;
    float: right;
}

#video-button:hover{
    background-color: #a6c5d1;
}

.brand-thumb{
    transition: all .5s ease-in-out;
}

.brand-thumb:hover{
    opacity: 0.6;
    filter: alpha(Opacity=100);
}

  /*Branding*/
#branding{
    background-color: #f7f2ed;
    display: none;
}

#heading-branding{
    margin-top: 40px;
}

    /*Website Project*/
#website{
    padding-top: 100px;
    background-color: #f7f2ed;
    display: none;
}

#heading-website{
    margin-bottom: 40px;
}

#website img{
    margin-bottom: 40px;
}

    /* Photo Project */
#photo{
    background-color: #f7f2ed;
    display: none;
}

#gallery-photography{
    padding-bottom: 30px;
}

#heading-photo{
    margin-bottom: 40px;
    margin-top: 40px;
}

   /* Video Project */
#video-project{
    background-color: #f7f2ed;
    display: none;
    padding-top: 100px;
}

#heading-video{
    margin-bottom: 40px;
}

#videoPerfume{
    padding-bottom:50px;
}

/* Footer */



/* Contact Page*/

#contact{
    background-color: #f7f2ed;
    
}

#heading-contact{
    margin-top:40px;
    margin-bottom: 40px;
}

.title {
    font-family: rio;
    font-size: 20pt;
    
}

textarea {
    height: 100px;
    border-radius:0.2em;
}

#nameBox{
    font-family: Arial;
    background-color: #f7ce87;
}

#addressBox{
    font-family: Arial;
    background-color: #97cbd6;
}

#phoneBox{
    font-family: Arial;
    background-color: #f6a482;
}

#emailBox{
    color: #fff;
    font-family: Arial;
    background-color: #77a9c1;
}

#messBox{
    font-family: Arial;
    background-color: #f7ce87;
}

#buttonContact{
    width: 100px;
    height: 30px;
    border-radius: 3px;
    padding: 5px;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #000;
    text-decoration: none;
    transition: all .5s ease-in-out;
    background-color: #f6a482;
}

#buttonContact:hover{
    background-color: #f7c3b0;
}

/*Ha Vo Page*/

#havo-contain{
    background-color: #f7f2ed;
}
#heading-havo 
{
    margin-top: 40px;
}

#discription p {
    margin-top: 30px;
    text-align: justify;
}

#color-typo{
    margin-top: 30px; 
    margin-right: 60px;
}

#color img{
    padding-bottom: 30px;
    padding-top: 40px; ;
    margin-right: 20px;
}

#typo p{
    font-family: oliver;
    font-size: 40pt;
}

/* Genki Page */
#genki-contain{
    background-color: #f7f2ed;
}

#text-brand-genki p{
    text-align: justify;
}

.heading-genki p{
    font-family: studio;
    font-size: 40pt;
    text-align: left;
}

.heading-genki {
    margin-top: 15%;
}

#text-typo-genki p{
    font-family: studio;
    font-size: 40pt;
}

.typo-genki-name{
    font-weight: bold;
}

#videoGenki {
    padding-top: 50px;
}

/* Sport Page */
#sport-contain{
    background-color: #f7f2ed;
}

.heading-sport p{
    font-family: retro;
    font-size: 20pt;
    text-align: left;
}

.heading-sport {
    margin-top: 15%;
    margin-bottom: 10%;
}

#text-typo-sport p{
    font-family: retro;
    font-size: 40pt;
}

/* Roku Website */
#roku-contain{
    background-color: #f7f2ed;
}

#text-roku p{
    text-align: justify;
}

#roku-desktop{
    margin-top: 50px;
    margin-bottom: 10%;
}

#heading-roku{
    padding-top: 15%;
}
